body{

}

div{
    background-color: yellow;
}

.c01{
display: block;
    color: red;
}

article h2{
    margin: 10px;
    color: chartreuse;
}
article>p{
    margin: 10px;
    color: aqua;
}
span{
    /*display: inline-block;*/
}
